<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Zonnevelt Huisartsen</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../../assets/style/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light bordernavbar">
    <a class="navbar-brand logosvg" href="index.html">
        <img src="../../assets/logoZonnevelt-02.svg" alt="" height="55px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item linkani">
                <a class="nav-link" href="medewerkers.html">Medewerkers</a>
            </li>
            <li class="nav-item linkani">
                <a class="nav-link" href="contactgegevens.html">Contactgegevens</a>
            </li>
            <li class="nav-item linkani">
                <a class="nav-link" href="#">Spoedgeval</a>
            </li>
            <li class="nav-item"><button class="btn my-2 my-sm-0 buttonnav"><a href="#" style="text-decoration: none; color: #FFF;"><span>Inloggen</span></a> </button></li>
        </ul>
    </div>
</nav>
<img src="../../assets/Huisartsen_4469.jpg" width="100%" height="450px" class="img-fluid"/>
<div class="container-fluid py-5">
    <div class="row" style="height: 250px">
    <div class="col-md-1"></div>
    <div class="col bordernavbar medewerkerprofile">
        <div class="row">

        </div>
    </div>
    <div class="col-md-1"></div>
    </div>
    <div class="row" style="height: 250px"></div>
    <div class="row" style="height: 250px"></div>
    <div class="row" style="height: 250px"></div>
</div>
<footer class="footer" >
    <div class="container py-5">
        <div class="row">
            <div class="col-md-3">
                <img src="../../assets/logoZonnevelt-02.svg" alt="" width="80%">
                <h6 style="color: #FFF; margin-top:30px;">Spoednummer:</h6>
                <h3 style="color: #4ec7dc;">0987-654321</h3>
            </div>
            <div class="col-md-3">
                <h4 style="color: #FFF;">Contact</h4>
                <br>
                <p class="py-2" style="color:#FFF;">Jan Loterlaan 21<br>1234 LZ Hoogeveen<br>info@zonnevelt.nl<br>0123-456789</p>
            </div>
            <div class="col-md-3">
                <h4 style="color: #FFF;">Links</h4>
                <br>
                <div class="footerLinks">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="medewerkers.html">Medewerkers</a></li>
                        <li><a href="contactgegevens.html">Contact</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul></div>
            </div>
            <div class="col-md-3">
                <h4 style="color: #FFF;">Openingstijden</h4>
                <br>
                <p class="py-2" style="color:#FFF;">Ma. - Do    08:00 - 16:00<br>Vr.    09:00 - 17:00<br>Za.    13:00 - 16:00<br>Zo.    Gesloten</p>
            </div>

        </div>
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
